
[id^="suggest-imgC"] {
  box-shadow: 2px 1px 11px #fc5858;
}

[id^="suggest-imgL"] {
  box-shadow: 0.1vw 0.1vw 1vw #58aafc;
}

[id^="suggest-imgR"] {
  box-shadow: 2px 1px 11px #58aafc;
}

[id^="suggest-imgP"] {
  box-shadow: 2px 1px 11px #D058FC;
}


#list-type {
  box-shadow: 2px 1px 11px #fc5858;
  text-shadow: 0px 0px 2px #fc5858,  0px 0px 2px black;
}

#list-type2 {
  box-shadow: 2px 1px 11px #58aafc;
  text-shadow: 0px 0px 2px #58aafc,  0px 0px 2px black;
}

#list-type3 {
  box-shadow: 2px 1px 11px #D058FC;
  text-shadow: 0px 0px 2px #D058FC,  0px 0px 2px black;
}

#fade-wrapper .box-shadow {
  width: 100%;
  height: 50%;
  background: linear-gradient(to bottom, #fc5858, transparent);
}

#fade-wrapper-red .box-shadow {
  width: 100%;
  height: 50%;
  background: linear-gradient(to bottom, #58aafc, transparent);
}

#fade-wrapper-blue .box-shadow {
  width: 100%;
  height: 50%;
  background: linear-gradient(to bottom, #58aafc, transparent);
}

#fade-wrapper-purple .box-shadow {
  width: 100%;
  height: 50%;
  background: linear-gradient(to bottom, #D058FC, transparent);
}

#sortButton {
  box-shadow: 0px 0px 6px var(--secondary-color);
}
#filterButton {
  box-shadow: 0px 0px 6px var(--secondary-color);
}
#search-blankButton {
  box-shadow: 0px 0px 6px var(--secondary-color);
}
#searchInput {
  box-shadow: 0px 0px 6px var(--secondary-color);
}
#toggleButton {
  box-shadow: 0px 0px 6px var(--secondary-color);
}