[id^="suggest-img"] {
    box-shadow: 2px 1px 11px #58aafc;
  }

  [id^="suggest-imgP"] {
    box-shadow: 2px 1px 11px #D058FC;
  }
  
  
  #list-type {
    box-shadow: 2px 1px 11px #fc5858;
    text-shadow: 0px 0px 2px #fc5858;
  }
  
  #fade-wrapper .box-shadow {
    width: 100%;
    height: 50%;
    background: linear-gradient(to bottom, #fc5858, transparent);
  }

  #fade-wrapper-blue .box-shadow {
    width: 100%;
    height: 50%;
    background: linear-gradient(to bottom, #58aafc, transparent);
  }
  
  #fade-wrapper-purple .box-shadow {
    width: 100%;
    height: 50%;
    background: linear-gradient(to bottom, #D058FC, transparent);
  }

  #suggest-img1 {
    box-shadow:  2px 1px 11px #fc5858;
  }
  #suggest-img2 {
    box-shadow: 0px 0px 0px #fc5858;
  }

  #suggest-img3 {
    box-shadow: 2px 1px 11px #fc5858;
  }
  #suggest-img4 {
    box-shadow: 2px 1px 11px #fc5858;
  }
  
  #popular-games {
    box-shadow: 2px 1px 11px #58aafc;
    text-shadow: 0px 0px 2px #58aafc;
  }
  
  #multiplayer-games {
    box-shadow: 2px 1px 11px #D058FC;
    text-shadow: 0px 0px 2px #D058FC;
  }
  
  #online-games {
    box-shadow: 2px 1px 11px #D058FC;
    text-shadow: 0px 0px 2px #D058FC;
  }

  #sortButton {
    box-shadow: 0px 0px 6px #58aafc
  }
  #searchInput {
    box-shadow: 0px 0px 6px #58aafc
  }
  #toggleButton {
    box-shadow: 0px 0px 6px #58aafc
  }