@font-face {
  font-family: "M Plus Rounded 1c"; /* ITS ACTUALLY NUNITO https://fonts.google.com/specimen/Nunito | old font sometimes didnt underline on firefox*/
  font-weight: 800;
  src: url(/fonts/Nunito-VariableFont_wght.ttf)
}



@font-face {
    font-family: League Gothic;
    src: url(/fonts/LeagueGothic.ttf);
  }

  body {
    -webkit-font-smoothing: antialiased;
  }
